// Themes
@import '../../../clinical-lowlight-theme/Pills.module';
@import '../../../orion-fusion-theme/Pills.module';

:local {
  .inline-pill-list {
    display: inline-block;
  }

  .fixed-width-100 {
    width: 100px;    
  }

  .fixed-width-200 {
    width: 200px;    
  }

  .fixed-width-400 {
    width: 400px;    
  }

  .fixed-width-600 {
    width: 600px;    
  }

  .fixed-width-50per {
    width: 50%;    
  }

  .width-100per-min-150 {
    min-width: 150px;
    width: 100%;
  }

  .toggle-active-button:disabled {
    opacity: 0.3;
  }


  // Introduction Article
  .card-article {
    width: 100%;
  
    .card-article-photo {
      margin: 0;
      padding: 1.0714285714rem;

      .card-article-photo-caption {
        font-size: 0.82142rem;
        opacity: 0.65;
        margin: 0.28571rem 0 0 0;
        padding: 0;
        text-align: left;
      }
    }

    .card-article-content {
      padding: 0.71428rem 1.0714285714rem 0 0.42857rem;
    
      .card-article-content p {
        font-size: 0.92857rem;
        margin: 0.71428rem 0;
      }

      .card-article-content-heading {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }

    .card-article-pills {
      padding: 0.5rem 1.0714285714rem 1.0714285714rem 0;

      .card-article-pill-list-label {
        font-size: 0.92857rem;
        font-weight: bold;
        margin: 0 0 0 0.5rem;
        opacity: 0.7;
        padding: 0;
      } 
    }
  }

  // Standard Pill List 
  .standard-pill-list-example {
    margin: 0;
    padding: 1.07142rem 1.07142rem 0 1.5rem;

    .pill-list-label {
      display: inline-block;
      font-size: 0.92857rem;
      font-weight: bold;
      margin: 0 0.35714rem 0 0.5rem;
      opacity: 0.7;
      padding: 0;
      vertical-align: middle;
    }

    .inline-pill-list {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Collapsible Pill List 
  .terra-pills-doc-example-applied-filters { 
    //
  }

  .collapsible-pill-list-example {
    margin: 0;
    padding: 0;
    display: flex;

    .pill-list-label {
      display: inline-block;
      flex: 0 0 auto;
      font-size: 0.92857rem;
      font-weight: normal;
      margin: 0.57142rem 0.35714rem 0 0.5rem;
      padding: 0;
      vertical-align: top;
    }

    .inline-pill-list {
      display: inline-block;
      width: 85%;
      vertical-align: top;
    }

    .clear-filters-button {
      display: inline-block;
      flex: 0 0 auto;
      vertical-align: top;
    }
  }



  // Truncation Example
  .terra-pills-doc-example-handling-truncation {
    padding: 0 0.71428rem 0 0.71428rem;

    .label {
      color: var(--terra-core-docs-pills-doc-example-handling-truncation-label-color, rgba(28, 31, 33, 0.85));
      font-size: var(--terra-core-docs-pills-doc-example-handling-truncation-label-font-size, 0.96428rem);
      margin: 0;
      margin-bottom: var(--terra-core-docs-pills-doc-example-handling-truncation-label-margin-bottom, 0.25rem);
      margin-top: var(--terra-core-docs-pills-doc-example-handling-truncation-label-margin-top, 0.25rem);
      padding: 0;
    }

    .space-between {
      margin-top: var(--terra-core-docs-pills-doc-example-handling-truncation-space-between-margin-top, 2rem);
    }

    .show-outer-container {
      border-left: var(--terra-core-docs-pills-doc-example-handling-truncation-outer-container-border-left, 2px dashed #bd10e0);
      border-right: var(--terra-core-docs-pills-doc-example-handling-truncation-outer-container-border-right, 2px dashed #bd10e0);
      margin: 0;
      padding: 0;
      padding-left: var(--terra-core-docs-pills-doc-example-handling-truncation-outer-container-padding-left, 6px);
      padding-right: var(--terra-core-docs-pills-doc-example-handling-truncation-outer-container-padding-right, 6px);
    }
  
    .show-pill-list {
      background-color: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-background-color, rgba(249, 138, 236, 0.04));
      border-bottom: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-border-bottom, 1px dashed rgba(119, 85, 126, 0.25));
      border-left: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-border-left, 2px dashed #bd10e0);
      border-right: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-border-right, 2px dashed #bd10e0);
      border-top: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-border-top, 1px dashed rgba(189, 16, 224, 0.25));
      box-shadow: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-box-shadow, 6px 0 0 0 rgba(189, 16, 224, 0.15), -6px 0 0 0 rgba(189, 16, 224, 0.15));
      padding-bottom: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-padding-bottom, 4px);
      padding-top: var(--terra-core-docs-pills-doc-example-handling-truncation-pill-list-padding-top, 4px);
    }
  
    .truncation-protection-width {
      min-width: var(--terra-core-docs-pills-doc-example-handling-truncation-protection-min-width, 10.25rem);
      width: var(--terra-core-docs-pills-doc-example-handling-truncation-protection-width, 50%);
    }

    .truncation-forced-width {
      width: var(--terra-core-docs-pills-doc-example-handling-truncation-forced-width, 8.5rem);    
    }
  }
  
  // Truncation Example Popup
  .terra-pills-doc-example-handling-truncation-popup-sample-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: var(--terra-core-docs-pills-doc-example-handling-truncation-popup-content-padding, 0.35714rem);
    width: 100%;

    .centered-text {
      display: inline-block;
      line-height: var(--terra-core-docs-pills-doc-example-handling-truncation-popup-content-line-height, 1.14285);
      text-align: center;
    }
  }
}

