:local {
  .inline-pill-list {
    display: inline-block;
  }

  .fixed-width-100 {
    width: 100px;    
  }

  .fixed-width-200 {
    width: 200px;    
  }

  .fixed-width-400 {
    width: 400px;    
  }

  .fixed-width-600 {
    width: 600px;    
  }

  .fixed-width-50per {
    width: 50%;    
  }

  .show-border {
    border: 1px dashed #800080;
  }

  .toggle-active-button:disabled {
    opacity: 0.3;
  }

  // Introduction Article
  .card-article {
    width: 100%;
  
    .card-article-photo {
      margin: 0;
      padding: 1.0714285714rem;

      .card-article-photo-caption {
        font-size: 0.82142rem;
        opacity: 0.65;
        margin: 0.28571rem 0 0 0;
        padding: 0;
        text-align: left;
      }
    }

    .card-article-content {
      padding: 0.71428rem 1.0714285714rem 0 0.42857rem;
    
      .card-article-content p {
        font-size: 0.92857rem;
        margin: 0.71428rem 0;
      }

      .card-article-content-heading {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }

    .card-article-pills {
      padding: 0.5rem 1.0714285714rem 1.0714285714rem 0;

      .card-article-pill-list-label {
        font-size: 0.92857rem;
        font-weight: bold;
        margin: 0 0 0 0.5rem;
        opacity: 0.7;
        padding: 0;
      } 
    }
  }

  // Standard Pill List 
  .standard-pill-list-example {
    margin: 0;
    padding: 1.07142rem 1.07142rem 0 1.5rem;

    .pill-list-label {
      display: inline-block;
      font-size: 0.92857rem;
      font-weight: bold;
      margin: 0 0.35714rem 0 0.5rem;
      opacity: 0.7;
      padding: 0;
      vertical-align: middle;
    }

    .inline-pill-list {
      display: inline-block;
      vertical-align: middle;
    }
  }

  // Collapsible Pill List 
  .collapsible-pill-list-example {
    margin: 0;
    padding: 0;
    display: flex;

    .pill-list-label {
      display: inline-block;
      flex: 0 0 auto;
      font-size: 0.92857rem;
      font-weight: normal;
      margin: 0.57142rem 0.35714rem 0 0.5rem;
      padding: 0;
      vertical-align: top;
    }

    .inline-pill-list {
      display: inline-block;
      width: 85%;
      vertical-align: top;
    }

    .clear-filters-button {
      display: inline-block;
      flex: 0 0 auto;
      vertical-align: top;
    }
  }

  // Truncation Popup Content
  .centered-paragraph {
    display: block;
    line-height: 1.14285;
    height: 100%;
    margin: 0;
    padding: 0.85714rem 0 0 0;
    text-align: center;
    width: 100%;
  }
}

