@import '~terra-mixins/lib/Mixins';

:local {
  .clinical-lowlight-theme {
    // Pill
    --terra-pills-pill-container-background-color: #1d2427;
    --terra-pills-pill-container-border-color: #525659;
    --terra-pills-pill-container-border-style: solid; 
    --terra-pills-pill-container-border-radius: 2rem;  
    --terra-pills-pill-container-border-width: 1px;
    --terra-pills-pill-container-margin: 0.35714rem;
    --terra-pills-pill-container-max-width-inset: 0.35714rem;
    --terra-pills-pill-container-border-color-focus: #525659;
    --terra-pills-pill-container-border-width-focus: 1px;    
    --terra-pills-pill-container-box-shadow-focus: none;
    --terra-pills-pill-container-outline-focus: 2px dashed #fff;
    --terra-pills-pill-container-outline-offset-focus: 2px;
    --terra-pills-pill-container-selectable-border-color-hover: #525659;
    --terra-pills-pill-container-selectable-border-color-active: #525659;
    --terra-pills-pill-container-selectable-removable-border-color-hover: #525659;
    --terra-pills-pill-container-selectable-removable-border-color-active: #525659;

    --terra-pills-pill-label-background-color: transparent;
    --terra-pills-pill-label-color: #b2b5b6;
    --terra-pills-pill-label-font-size: 0.85714rem;
    --terra-pills-pill-label-line-height: 1.25;
    --terra-pills-pill-label-padding-bottom: 0.21428rem;
    --terra-pills-pill-label-padding-left: 0.64285rem;
    --terra-pills-pill-label-padding-right: 0.64285rem;
    --terra-pills-pill-label-padding-top: 28571rem;
    --terra-pills-pill-label-selectable-background-color-hover: #111619;
    --terra-pills-pill-label-selectable-background-color-active: #0c0d0e;
    --terra-pills-pill-label-selectable-color-active: #9b9b9b;
    --terra-pills-pill-label-padding-right-removable: 5rem;
    --terra-pills-pill-label-selectable-removable-background-color-hover: #0c0d0e;
    --terra-pills-pill-label-selectable-removable-box-shadow-hover: inset -1px 0 0 0 #525659;
    --terra-pills-pill-label-selectable-removable-color-hover: #9b9b9b;
    --terra-pills-pill-label-selectable-removable-background-color-active: #000;
    --terra-pills-pill-label-selectable-removable-box-shadow-active: inset -1px 0 0 0 #525659;
    --terra-pills-pill-label-selectable-removable-color-active: #9b9b9b;

    --terra-pills-pill-remove-button-background-color: #1d2427;
    --terra-pills-pill-remove-button-box-shadow: -4px 0 0 -3px #3b4245;
    --terra-pills-pill-remove-button-color: #b2b5b6;
    --terra-pills-pill-remove-button-background-color-hover: #0c0d0e;
    --terra-pills-pill-remove-button-box-shadow-hover: -1px 0 0 0 #525659;
    --terra-pills-pill-remove-button-color-hover: #9b9b9b;
    --terra-pills-pill-remove-button-background-color-active: #000;
    --terra-pills-pill-remove-button-box-shadow-active: -1px 0 0 0 #525659;
    --terra-pills-pill-remove-button-color-active: #9b9b9b;

    // Clear Icon
    --terra-pills-clear-icon-height: 0.75rem;
    --terra-pills-clear-icon-margin: 0.4035714286rem 0.6428571429rem 0 0.3928571429rem;
    --terra-pills-clear-icon-width: 0.75rem;

    //Roll Up Pill
    --terra-pills-roll-up-pill-background-color: #1d2427;
    --terra-pills-roll-up-pill-border-color: #525659;
    --terra-pills-roll-up-pill-border-radius: 2rem;
    --terra-pills-roll-up-pill-border-width: 1px;
    --terra-pills-roll-up-pill-color: #b2b5b6;
    --terra-pills-roll-up-pill-font-size: 0.85714rem;
    --terra-pills-roll-up-pill-line-height: 1.25;
    --terra-pills-roll-up-pill-margin: 0.35714rem;
    --terra-pills-roll-up-pill-padding-bottom: 0.28571rem;
    --terra-pills-roll-up-pill-padding-left: 0.71428rem;
    --terra-pills-roll-up-pill-padding-right: 0.71428rem;
    --terra-pills-roll-up-pill-padding-top: 0.28571rem;
    --terra-pills-roll-up-pill-border-width-focus: 1px;
    --terra-pills-roll-up-pill-border-color-focus: #525659;
    --terra-pills-roll-up-pill-box-shadow-focus: none;
    --terra-pills-roll-up-pill-outline-focus: 2px dashed #fff;
    --terra-pills-roll-up-pill-outline-offset-focus: 2px;
    --terra-pills-roll-up-pill-background-color-hover: #111619;
    --terra-pills-roll-up-pill-border-color-hover: #525659;
    --terra-pills-roll-up-pill-background-color-active: #0c0d0e;
    --terra-pills-roll-up-pill-border-color-active: #525659;
    --terra-pills-roll-up-pill-color-active: #9b9b9b;

    // Clear Icon SVG
    @include terra-inline-svg-var('--terra-pills-clear-icon', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#b2b5b6" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>');
    @include terra-inline-svg-var('--terra-pills-clear-icon-hover', '<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path fill="#9b9b9b" d="M28.2 24L42.9 9.1 40.8 7l-1.7-1.6-.4-.5L24 19.7 9.4 4.9 7.2 7 5.6 8.6l-.5.5L19.8 24 5.1 38.9 7.2 41l1.7 1.6.5.5L24 28.3l14.7 14.8.4-.5 1.7-1.6 2.1-2.1L28.2 24z"></path></svg>');
  }
}
